{{!-- Burger Image --}}
<div>
    <img src='/assets/images/burger.png'>
</div>

<div class='row'>
    {{!-- List for Current Burgers: --}}
    <div class='col-md-6' id='currentBurgers'>
        <ul>
            <h2> Current Burgers: </h2>
            <br>
            {{#each burgers}}
            {{#unless devoured}}

            <form class='form-inline' action='/api/burger/devoured' method='post'>
                <h5> {{burger_name}} </h5>
                <button id='indexButton' type='submit' name='devoured' class='btn btn-light btn-sm'
                    value='{{id}}'>Devour it!</button>
            </form>

            {{/unless}}
            {{/each}}

        </ul>
    </div>

    {{!-- List for Devoured Burgers --}}
    <div class='col-md-6' id='devouredBurgers'>
        <ul>

            <h2> Devoured Burgers: </h2>
            <br>
            {{#each burgers}}
            {{#if devoured}}

            <h5> {{burger_name}} </h5>

            {{/if}}
            {{/each}}

        </ul>
    </div>
</div>

{{!-- Submit a New Burger --}}
<div id='newBurger'>
    <form id='burgerForm' action='/api/burger/new' method='post'>
        <input type='text' id='burgerName' name='burgerName'><br><br>
        <button type='submit' class='btn btn-primary'>Submit</button>
        <p>Enter a burger you want to eat, then click the 'Submit' button</p>
    </form>
</div>